@import "./RoutesDropdown.css";

body {
    margin: 20px;
    padding: 20px;
}

.app-icon::before {
    content: '';
    padding-right: 48px;
    padding-left: 18px;
    background-image: url(../public/sports-api-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.user-card {
    width: 18rem;
    margin: 20px;
}

.center {
    margin: auto;
}

.page-item:not(.active) {
    cursor: pointer;
}

